 <!-- <h2 mat-dialog-title>Add New Party</h2>

<form [formGroup]="partyForm" (ngSubmit)="onSave()" mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Party Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="partyForm.get('name')?.hasError('required')">
      Party name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Mobile Number</mat-label>
    <input matInput formControlName="mobileNumber" />
    <mat-error *ngIf="partyForm.get('mobileNumber')?.hasError('required')">
      Mobile number is required
    </mat-error>
    <mat-error *ngIf="partyForm.get('mobileNumber')?.hasError('maxlength')">
      Must be 10 digits
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" />
    <mat-error *ngIf="partyForm.get('location')?.hasError('required')">
      Location is required
    </mat-error>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="partyForm.invalid">
      Save Party
    </button>
  </mat-dialog-actions>
</form>  -->
<!-- Modal -->
<!-- Modal -->
<div class="modal fade show d-block flip-in" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg">

      <!-- Modal Header -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Add New Party</h5>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeModal()"></button> 
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="partyForm" (ngSubmit)="onSave()" >
          <div class="mb-3">
            <label for="partyName" class="form-label">Party Name</label>
            <input type="text" class="form-control" id="partyName" formControlName="name" placeholder="e.g., Sai Ram Enterprises" required>
          </div>

          <div class="mb-3">
            <label for="partyMobile" class="form-label">Mobile Number</label>
            <input type="tel" class="form-control" id="partyMobile" maxlength="10" formControlName="mobileNumber" placeholder="e.g., 91123-45678">
          </div>

          <div class="mb-3">
            <label for="partyLocation" class="form-label">Location</label>
            <input type="text" class="form-control" id="partyLocation" formControlName="location" placeholder="e.g., coimbatore" required>
          </div>

          <div>
            <button type="submit" class="btn btn-outline-primary" [disabled]="partyForm.invalid"> Save Party</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
