.transaction-panel {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.transaction-header .form-control,
.transaction-header .form-select {
  min-width: 140px;
}

.table th, .table td {
  padding: 10px 12px;
  font-size: 14px;
  color: rgb(80, 80, 80);
   border-left: none !important;
  border-right: none !important;
}

.badge {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 12px;
}

.btn i {
  pointer-events: none;
}
.empty-state {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  color: #666;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.type.CREDIT {
  background-color: rgb(231, 255, 218);
  border-radius: 20px;
  color: green;
  font-weight: bold;
  padding: 2px 8px;
  margin-left: -10px;
}
.amount.CREDIT {
  color: rgb(6, 119, 6);
}

.type.DEBIT {
  background-color: rgb(255, 218, 218);
  border-radius: 20px;
  color: rgb(255, 100, 214);
  font-weight: bold;
  padding: 2px 8px;
  margin-left: -10px;
}

.amount.DEBIT {
  color: rgb(255, 100, 252);
}

.btn-outline-info {
  border-color: #6f42c1; /* custom border */
  color: #6f42c1;         /* custom text */
}

.btn-outline-info:hover {
  background-color: #6f42c1;
  color: #fff;
}
.fpRange {
  pointer-events: auto;
}








